html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
body {
   	margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
   box-sizing: border-box;
    }
.wrapper{
	margin: 0 auto;
	width: 100%;
}
/*=====================
	header
======================*/
.top-1{
	background-size: cover;
    height:100vh;
    background-image: url("../assets/media/1.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;

 }
 .navigation ul {
 	display:flex;
 	list-style-type: none;
 	font-size:25px;
 	width: 70%;
 	text-transform: uppercase;
 	justify-content: space-around;
 	cursor: pointer;
 	padding: 2rem;
}
.heading {
	text-transform: uppercase;
	font-size:5rem;
	font-family:sans-serif;
	position: absolute;
	left:6rem;
	bottom:7rem;
}
.heading h4{
	font-size: 30px;
	text-align: center;
}
h1{
	text-transform: uppercase;
	margin-top:16px;

}
/*=====================
	about-me
======================*/
.about-me {
	background-color: #dbdbdb;
	margin-top: 30px

}
.center{
	font-size:40px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;	
	color:black;
}
.intro-about{
	font-size:20px;
	margin-top: 2rem;
}
/*=====================
	projects
======================*/
.projects {
	background-color:#dbdbdb;
}
.proaject-detail{
	display: grid;
	grid-template-columns:auto(3,1fr);
	grid-gap:10px;
	margin-top: 20px;
	
}
.proaject-detail{
	margin-top:20px;
}
img{
	width:400px;
	height:300px;
}

/*=====================
	skill
======================*/
.skill{
	background-color:#dbdbdb; 
}
.skill-list{
	margin-top:30px;
}
.skill-list img{
	height: 100px;
	width: 150px;

}
/*=====================
	blog
======================*/
.contact{
	background-color:#dbdbdb; 
}