
.section{
	margin: 0 auto;
	width: 960px;
}
li a{
	color: black;
	margin-left: 10px;
	
}
ul{
	list-style-type:none;
	float: right;
}
ul li {
	display: inline-block;
}
.hero-image {
	width: 100%;
}
.text, .text2{
	display: inline-block;
	width:45%;
	vertical-align: top;
}
.text{
	margin-right:  5%;
}
.text2{
	margin-left:  5%;
}
.text2 p {
	font-style: italic;

}

@media all and (max-width: 480px){
	.section{
		text-align: center;
		width: 100%;

	}
img{
	float: left;
}
ul {
	
	width:100%;
}
ul li{
	display:block;
	
	margin: 10px 0px 10px 0px;
	padding:10px;
	background-color: #ccc;
}
.hero-image{
	float: none;
	width:100%;
}
.text, .text2{
	display: block;
	text-align: center;
	width: 100%;
}
   


