body {
	background:  url("../assets/media/background-img.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.block{
	width:80%;
	margin:0 auto;
}
h1{
	text-align:center;
	color: white;
}
.box1{
	background-color:red;
	height:200px;
	width:200px;
	display: inline-block;
	margin:60px;
	border-radius: 10px;
	position: relative;

}
.linear{
	background: linear-gradient(to left,red,black);

}
.gradient{
	background: radial-gradient( red,black);
	
}

.image {
	height: 500px;
	width: 70%;
	margin: 0 auto;
}

.background {
	background-image:url("../assets/media/1200x800 (1).jpeg");
	height: 100%;
	border-radius: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay{
	height: 100%;
	background:linear-gradient(to right bottom ,rgba(255, 0, 0, 0.5), rgba(0, 128, 0, 0.6));
}
.box{
	background: rgba(0,0,0,0.6);
height:100%;
}
h3{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}